---
layout: default
title: Your New Jekyll Site
---

<div class="row" id="content">
    <div class="medium-8 columns">

        {% for post in site.posts %}
            <div class="blog-post">
                <h3>{{ post.title }} <small>{{ post.date | date_to_string }}</small></h3>
                {{ post.excerpt }}
                <div class="callout">
                    <ul class="menu simple">
                        <li><a href="#">{{ post.post_author }}</a></li>
                    </ul>
                </div>
            </div>
        {% endfor %}  

    </div>
    
    <div class="medium-3 columns sticky-container" data-sticky-container="" style="height: 318px;">
        <div class="sticky is-anchored is-at-top" data-sticky="3fsroc-sticky" data-anchor="content" data-resize="bi2pvv-sticky" style="max-width: 285px; margin-top: 0px; top: 0px; bottom: 1866px;">
            <h4>Categories</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>
            <h4>Authors</h4>
            <ul>
                <li><a href="#">Skyler</a></li>
                <li><a href="#">Jesse</a></li>
                <li><a href="#">Mike</a></li>
                <li><a href="#">Holly</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row column">
    <ul class="pagination" role="navigation" aria-label="Pagination">
        <li class="disabled">Previous</li>
        <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
        <li><a href="#" aria-label="Page 2">2</a></li>
        <li><a href="#" aria-label="Page 3">3</a></li>
        <li><a href="#" aria-label="Page 4">4</a></li>
        <li class="ellipsis"></li>
        <li><a href="#" aria-label="Page 12">12</a></li>
        <li><a href="#" aria-label="Page 13">13</a></li>
        <li><a href="#" aria-label="Next page">Next</a></li>
    </ul>
</div>

