    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation-sites/dist/foundation.min.js"></script>
    <script src="js/app.js"></script>

<script>
      $(document).foundation();
    </script>


</body></html>
