<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Yeti Agency</li>
        </ul>
    </div>
    <div class="top-bar-right">
        <ul class="menu">
        <li><a href="#">One</a></li>
        <li><a href="#">Two</a></li>
        <li><a href="#">Three</a></li>
        <li><a href="#">Four</a></li>
        </ul>
    </div>
</div>

<div class="callout large primary">
    <div class="row column text-center">
        <h1>Our Blog</h1>
    </div>
</div>
